.place__container {
    display: flex;
    flex-direction: row;
}

@media all and (max-width: 735px) {
    .place__container {
        flex-direction: column;
    }
}

@media all and (max-width: 425px) {
    .place__container {
        max-width: 100%;
    }
}