.cover__container {
    display: flex;
    flex-direction: column;
    /*position: absolute;
    top: calc(50% - 125px);*/
    position: relative;
    z-index: 2;
    margin: auto;
    width: 100%;
}

/*@media all and (max-width: 425px) {
    .cover__container {
        top: calc(50% - 66px);
    }
}*/