.lead__image {
    display: flex;
    object-fit: cover;
    max-width: 100%;
    margin: 0 auto 8px;
}

@media all and (max-width: 768px) {
    .lead__image {
        max-width: calc(100% + 48px);
        position: relative;
        left: -24px;
    }
}

@media all and (max-width: 425px) {
    .lead__image {
        max-width: calc(100% + 32px);
        position: relative;
        left: -16px;
    }
}