.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    
    max-width: 640px;
    max-height: 72px;
    margin: 0 auto 64px;
}