.place {
    max-width: 984px;
    margin: 0 auto 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media all and (max-width: 1024px) {
    .place {
        max-width: 100%;
    }
}

@media all and (max-width: 425px) {
    .place {
        margin-bottom: 50px;
    }
}