.footer {
    width: calc(100% - 96px);
    margin: 0 auto 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media all and (max-width: 735px) {
    .footer {
        width: calc(100% - 32px);
        flex-direction: column;
    }
}