.footer {
    width: 100%;
    margin: 0 0 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media all and (max-width: 735px) {
    .footer {
        flex-direction: column;
    }
}

@media all and (max-width: 425px) {
    .footer {
        flex-direction: column;
    }
}