.place__website {
    width: 1fr;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media all and (max-width: 425px) {
    .place__website {
        margin-left: 16px;
        margin-bottom: 32px;
    }
}